<?xml version="1.0" ?>
<robot name="sander_macro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sander" params="prefix">
    <!-- Links -->
    <link name="${prefix}base_link">
      <visual>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_body.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_body.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}shaft">
      <visual>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_shaft.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_shaft.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}disk">
      <visual>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_disk.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell1_support/meshes/visual/sander_disk.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Joints -->
    <joint name="${prefix}base_to_shaft" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}shaft"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}base_to_disk" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}disk"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
