<launch>

   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

   <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch" />

   <include file="$(find workcell1_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

</launch>
