<?xml version="1.0" ?>
<robot name="welder_macro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="welder" params="prefix">
    <!-- Links -->
    <link name="${prefix}base_link">
      <visual>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_body.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_body.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}shaft">
      <visual>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_shaft.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_shaft.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}tip">
      <visual>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_tip.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workcell4_support/meshes/visual/welder_tip.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}tcp"/>

    <!-- Joints -->
    <joint name="${prefix}base_to_shaft" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}shaft"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}base_to_disk" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}tip"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}base_to_tcp" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}tcp"/>
      <origin xyz="0.06 0 0.2125" rpy="0 ${pi / 4.0} 0"/>
    </joint>

  </xacro:macro>
</robot>
