name: Windows-2019

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5 * * *'

jobs:
  windows_ci:
    name: Windows-2019
    runs-on: windows-2019
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
      with:
        path: workspace/src/descartes_light

    - name: vcpkg build
      uses: johnwason/vcpkg-action@v2
      with:
        pkgs: >-
          boost-graph eigen3 console-bridge
        triplet: x64-windows-release

    - name: install-depends
      shell: cmd
      working-directory: vcpkg
      run: |
        vcpkg integrate install
        python -m pip install vcstool colcon-common-extensions ninja -q

    - name: configure-msvc
      uses: ilammy/msvc-dev-cmd@master
      with:
        arch: x64

    - name: build-workspace
      working-directory: workspace
      shell: cmd
      run: |
        set CXXFLAGS=%CXXFLAGS% -DEIGEN_DONT_ALIGN=1 -DEIGEN_DONT_VECTORIZE=1
        set CMAKE_PREFIX_PATH=%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release
        set PATH=%PATH%;%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release\bin
        vcs import src < src/descartes_light/dependencies.rosinstall
        colcon build --event-handlers console_direct+ --cmake-args -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DDESCARTES_ENABLE_TESTING=ON -DVCPKG_APPLOCAL_DEPS=OFF
        if %ERRORLEVEL% GEQ 1 exit 1

    - name: run-test
      working-directory: workspace
      shell: cmd
      run: |
        set PATH=%PATH%;%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release\bin
        colcon test --event-handlers console_direct+
        if %ERRORLEVEL% GEQ 1 exit 1
        colcon test-result --verbose
        if %ERRORLEVEL% GEQ 1 exit 1
