name: Windows-2019

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5 * * *'

env:
  VCPKG_PKGS: >-
    boost-graph eigen3 console-bridge
  VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}\vcpkg_cache

jobs:
  windows_ci:
    name: Windows-2019
    runs-on: windows-2019
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
      with:
        path: workspace/src/descartes_light

    - name: checkout-vcpkg
      uses: actions/checkout@master
      with:
        path: vcpkg
        repository: microsoft/vcpkg

    - name: bootstrap-vcpkg
      working-directory: vcpkg
      run: bootstrap-vcpkg.bat

    - name: vcpkg-dry-run
      working-directory: vcpkg
      shell: cmd
      run: |
        mkdir vcpkg_cache
        vcpkg install --dry-run --triplet x64-windows-release ${{ env.VCPKG_PKGS }} > vcpkg_dry_run.txt

    - name: cache-vcpkg-archives
      if: startsWith(github.ref, 'refs/tags/v') != true
      id: cache-vcpkg-archives
      uses: pat-s/always-upload-cache@v3
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: ${{ runner.os }}-x64-windows-release-vcpkg-${{ hashFiles('vcpkg/vcpkg_dry_run.txt') }}-main

    - name: install-depends
      shell: cmd
      working-directory: vcpkg
      run: |
        vcpkg integrate install
        python -m pip install vcstool colcon-common-extensions ninja -q
        vcpkg install --triplet x64-windows-release ${{ env.VCPKG_PKGS }}

    - name: configure-msvc
      uses: ilammy/msvc-dev-cmd@master
      with:
        arch: x64

    - name: build-workspace
      working-directory: workspace
      shell: cmd
      run: |
        set CXXFLAGS=%CXXFLAGS% -DEIGEN_DONT_ALIGN=1 -DEIGEN_DONT_VECTORIZE=1
        set CMAKE_PREFIX_PATH=%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release
        set PATH=%PATH%;%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release\bin
        vcs import src < src/descartes_light/dependencies.rosinstall
        colcon build --event-handlers console_direct+ --cmake-args -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DDESCARTES_ENABLE_TESTING=ON -DVCPKG_APPLOCAL_DEPS=OFF
        if %ERRORLEVEL% GEQ 1 exit 1

    - name: run-test
      working-directory: workspace
      shell: cmd
      run: |
        set PATH=%PATH%;%GITHUB_WORKSPACE%\vcpkg\installed\x64-windows-release\bin
        colcon test --event-handlers console_direct+
        if %ERRORLEVEL% GEQ 1 exit 1
        colcon test-result --verbose
        if %ERRORLEVEL% GEQ 1 exit 1
